body {
    margin: 0;
}

.timer-container {
    background-color: black;
    position: relative;
    height:100vh;
    width: 100%;
}

.timer {
    text-align: center;
    font-size: 300px;
    background-color: black;
    color: white;
    padding: 10px;
}

.input-container {
    margin: 0 45%;
    width: 200px;
}

.buttons-container {
    margin: 2% 38%;
    width: 300px;
}

.button { 
    background: linear-gradient(45deg, #2196F3 30%, #21CBF3 90%);
    box-shadow: 0 3px 5px 2px rgba(33, 203, 243, .3);
    margin: 0 10px;
}