
.input-component {
    position: relative;
}

.input-component .input-text {
    padding: 0.5rem 4rem 0.5rem 0.5rem;
    font-size: 2rem;
    border: none;
    background: white;
    border-radius: 5px;
}

.input-component .input-button {

    border-radius: 5px;
    position: absolute;
    padding: 0.5rem;
    margin: 0.25rem 0;
    font-size: 1rem;
    right: 10px;
    top: 5.5px;
    border: none;
    background: white;
    transition: all 0.3s ease;
    color: #ff6f47;
    cursor: pointer;

    width: 40px;
    height:40px;
}

.input-component .input-button:hover {
    color: white;
    background: #ff6f47;
}

.input-component input:focus {
    outline:none;
    border: 1px solid #ff6f47;
    box-shadow: 0 0 5px #ff6f47;
}