.form {
    display: flex;
    border-top: 2px solid #D3D3D3;
  }
  
  .input {
    border: none;
    border-radius: 0;
    padding: 3.5%;
    margin: 0 2%;
    width: 80%;
    font-size: 1.2em;
  }
  
  input:focus, textarea:focus, select:focus{
    outline: none;
  }
  
.buttons.primary {
  height: 40px;
  width: 40px;
  margin: auto 10px;
}